{% extends 'base.html' %}

{% block content %}

<main>
    <div>
        <h1>Test Project Name</h1>
        <p>Test Project Description</p>
        <!-- {% if not task %}
            <p>This project has no tasks</p>
        {% endif %} -->
        <h2>Tasks</h2>
        <!-- {% if project %} -->
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>Test</td>
                        </tr>
                    <!-- <tr>{{ value|yesno }}</tr> -->
                    <!-- <td>Test</td> -->
                </tbody>
            </table>
        <!-- {% else %}
            <p>This project has no tasks</p> -->
        <!-- {% endif %} -->
    </div>
</main>

{% endblock content %}
